body {
    margin: 0%;
    padding: 0%;

    font-family: 'Poppins', sans-serif;

}


/* First section start */

.header-section {

    background: linear-gradient(to bottom, rgba(0, 0, 10, 0.35), rgba(12, 1, 9, 0.99)), url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 100px;

}

.header-section h1 {
    font-size: 50px;
}

.header-section p {

    color: rgba(240, 248, 255, 0.726);
    text-align: center;
}

.text-btn {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    background-color: rgb(243, 40, 40);
    border-radius: 5px;
    margin-left: 5%;
}

/* first section end */


/* second section start */

.second {

    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;

}

.second h1 {

    color: rgb(15, 13, 13);
    font-size: 50px;

}

.second p {

    color: rgba(26, 22, 22, 0.637);
    font-weight: 400;

}

.main {

    display: flex;

}

.main div {

    /* box-shadow: 10px 10px 40px gray; */

    padding: 8px 18px;
    color: rgba(37, 34, 34, 0.493);
    background-color: rgba(193, 193, 201, 0.164);
    margin: 0 10px 0 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}


#border-second {

    border: 2px solid orangered;
    background-color: rgba(240, 136, 38, 0.171);
    color: rgba(231, 57, 26, 0.938)
}


#input-felid {

    min-width: 100%;
    min-height: 19px;
    text-align: center;
    border-color: rgba(240, 248, 255, 0);
    border-bottom: 1px solid rgba(40, 39, 41, 0.24);
    margin-left: 20px;

}

/* second section end  */

.third {
    height: 620px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;



}



.third h1 {

    color: rgb(15, 13, 13);
    font-size: 40px;

}

.third p {

    color: rgba(26, 22, 22, 0.637);
    font-weight: 400;

}


.parrent {

    display: flex;
}

.parrent div {

    color: rgba(37, 34, 34, 0.493);
    background-color: rgba(193, 193, 201, 0.164);
    margin: 0 10px 0 10px;
    font-weight: bold;
    font-size: 20px;

    border-radius: 2%;

    width: 30%;
}


.tri-width {

    text-align: left;
    padding: 30px 20px 30px 20px;



}

.tri-width h4 {



    color: rgba(0, 0, 0, 0.801);
}

.tri-width p {

    font-size: 15px;
}


#tri-first {


    background-color: rgba(182, 212, 236, 0.219);
}

#tri-second {
    background-color: rgba(223, 83, 153, 0.205);
}

#tri-third {

    background-color: rgba(228, 198, 64, 0.404);
}


/* end thirst section */


/* start four section */

.four {

    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12% 0 20%;
    max-width: 80%;
    margin-bottom: 50px;



}

.half-area {
    width: 50%;

    margin-right: -28px;

}

.half-area h1 {

    font-size: 35px;
}

.half-area p {

    line-height: 5mm;
    font-weight: 400;
    font-size: 12px;
}



#img-fixed img {

    height: 370px;
    width: 300px;
    border-radius: 2%;
}

.text-btn2 {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    background-color: rgba(243, 40, 40, 0.904);
    border-radius: 5px;

}

#fixed-margin {

    padding-right: -18px;

}

/* end four section */

/* next section same css */

/* strat six section */
.six {

    height: 419px;
}

.six div {

    text-align: center;

    margin-top: 20px;
}

.six h1 {

    font-size: 50px;

}

.six p {

    color: rgba(52, 55, 58, 0.726);
    text-align: center;
}

.area-two {

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: rgb(247 184 113 / 33%);



    height: 150px;

    margin: 0 28% 0 28%;

}


.btn a {

    text-decoration: none;
    color: white;
    padding: 10px 25px;
    background-color: rgb(243, 40, 40);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#bg-clr {

    background-color: rgb(29, 25, 25);
}

.input-boxes input {
    padding: 11px 25px;
    color: black;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-color: rgba(37, 36, 36, 0);
    background-color: rgba(190, 178, 178, 0.795);
}


/* End  six section */



/* footer start */

footer {

    height: 150px;
    background-color: black;


}


footer div {


    text-align: center;
    color: aliceblue;

    padding-top: 12px;



}

#fnt-style {

    font-family: "Brush Script MT", Fantasy !important;
    color: red;
    font-size: 30px;
    font-weight: 100;

}

footer div p {

    font-size: 10px;
}

/* footer end */